a {
    padding-top: 10px;
    text-decoration: none;
}
/* width */
.scroller::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .scroller::-webkit-scrollbar-track {
    visibility: hidden;
    background: #f1f1f1;
  }
  
  /* Handle */
  .scroller::-webkit-scrollbar-thumb {
    visibility: hidden;
    background: #888;
  }
  
  /* Handle on hover */
  .scroller::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .scroller:hover::-webkit-scrollbar-thumb {
    visibility:visible;
}
.projects {
    padding: 10px 40px 0px 20px;
}

.project-box {
    cursor: pointer;
    width: 100%;
    height: 300px;
    background-color: transparent;

    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
}

.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.1); 
    opacity: 1;
}

#outer {
    display: flex;
  }
  
  #inner {
    margin: auto;
  }

  @media (max-width: 1280px) {
      .project-box {
          height: 285px;
      }
  }