.card {
    margin-bottom: 10px;
    background-color: rgb(61, 61, 61);
    transition: all .2s ease-in-out; 
}

.card:hover {
    cursor: pointer;
    background-color: black;
}

.liner {
    width: 100%;
    height: 47px;
    border-bottom: 5px solid white;
}