.card {
    margin-bottom: 10px;
    background-color: rgb(61, 61, 61);
    transition: all .2s ease-in-out; 
}

.card:hover {
    cursor: pointer;
    background-color: black;
}

.round {
    width: 150px;
    border-radius: 50%;
}

@media (max-width: 575px) {
    .round {
        position: absolute;
        display: none;
    }
}